<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавить новый договор страхования</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!--link rel="stylesheet" href="../static/css/bootstrap.min.css"-->
</head>
<body>
<div class="container">
    <a href="/index">Вернуться на главную страницу</a>
    <form action="" method="post">
        <h3 class="row py-4 px-5">Введите следующие данные...</h3>
        <div class="row py-3 px-2 border">
            <div class="col-4">
                <label for="policyNum">Номер полиса:</label>
                <input class="form-control" id="policyNum" type="text" name="policyNum" placeholder="серия, номер">
                <label for="company">Компания:</label>
                <input class="form-control" id="company" type="text" name="company" placeholder="код компании">
                <label for="dateBeg">Дата начала действия:</label>
                <input class="form-control" id="dateBeg" type="date" name="dateBeg">
                <label for="period">Выбрать срок действия:</label>
                <select class="form-control" id="period" name="period">
                    <option value="15">15 дней</option>
                    <option value="1">1 месяц</option>
                    <option value="2">2 месяца</option>
                    <option value="3">3 месяца</option>
                    <option value="4">4 месяца</option>
                    <option value="5">5 месяцев</option>
                    <option value="6">6 месяцев</option>
                    <option value="7">7 месяцев</option>
                    <option value="8">8 месяцев</option>
                    <option value="9">9 месяцев</option>
                    <option value="10">10 месяцев</option>
                    <option value="11">11 месяцев</option>
                    <option value="12">12 месяцев</option>
                </select>
                <label for="dateEnd">Дата окончания:</label>
                <input class="form-control" id="dateEnd" type="date" name="dateEnd">
            </div>
            <div class="col-4">
                <label for="insuredId">Личный номер:</label>
                <input class="form-control" id="insuredId" type="text" name="insuredId" placeholder="3011090A001PB0">
                <label for="insuredName">Страхователь:</label>
                <input class="form-control" id="insuredName" type="text" name="insuredName" placeholder="ФИО/имя юр.лица">
                <label for="insuredAddress">Адрес страхователя:</label>
                <input class="form-control" id="insuredAddress" type="text" name="insuredAddress"
                       placeholder="адрес регистрации">
            </div>
            <div class="col-4">
                <label for="bodyNo">Идентификационный номер кузова(рамы/шасси):</label>
                <input class="form-control" id="bodyNo" type="text" name="bodyNo" maxlength="17" placeholder="vin">
                <label for="vehType">Тип ТС:</label>
                <select class="form-control" id="vehType" name="vehType">
                    <option value="A1">A1</option>
                    <option value="A2">A2</option>
                    <option value="A3">A3</option>
                    <option value="A4">A4</option>
                    <option value="A5">A5</option>
                    <option value="A6">A6 - такси</option>
                </select>
                <label for="vehPassport">Марка и модель ТС:</label>
                <input class="form-control" id="vehPassport" type="text" name="vehPassport">
                <label for="vehSign">Регистрационный знак ТС:</label>
                <input class="form-control" id="vehSign" type="text" name="vehSign" placeholder="1234AA7">
            </div>
        </div>
        <div class="row py-3 text-center">
            <div class="col">
                <button type="submit" class="btn btn-dark" style="width: 300px;">Добавить</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>